* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", cursive;
  box-sizing: border-box;
}
.Main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #7a5cd3, #a6b471);
  color: #fff;
  position: relative;
}
.container {
  width: 800px;
  height: 200px;
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.container h1 {
  color: rgb(10, 9, 0);
  text-align: center;
  font-size: 50px;
  letter-spacing: 6px;
}
.clock {
  width: 120%;
  height: 100%;
  background: rgba(26, 255, 0, 0.11);
  border-radius: 50px;
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  width: 180px;
  height: 180px;
  background: #00e5ff;
  border-radius: 20px;
  position: absolute;
  right: -230px;
  top: -2px;
  z-index: -1;
}
.container::after {
  content: "";
  width: 180px;
  height: 180px;
  background: #ffa600;
  border-radius: 20px;
  position: absolute;
  left: -80px;
  bottom: -350px;
  z-index: -1;
}
.clock span {
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after {
  /* content: "Hours"; */
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: 50px;
  transform: translateX(-50%);
}
#hrs::after {
  content: "HOURS";
}
#min::after {
  content: "MINUTES";
}
#sec::after {
  content: "SECONDS";
}

.date {
  width: 120%;
  height: 100%;
  background: rgba(26, 255, 0, 0.11);
  border-radius: 50px;
  backdrop-filter: blur(40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.date span {
  font-size: 80px;
  width: 80px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.date span::after {
  font-size: 16px;
  position: absolute;
  bottom: -10px;
  left: 50px;
  transform: translate(-50%);
}
#dt::after {
  content: "Date";
}
#mth::after {
  content: "Month";
}
#yyyy::after {
  content: "Year";
}
#dy::after {
  content: "Day";
}
